<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Searchable War Diary</title>
  <%= stylesheet_link_tag 'scaffold', "jquery-ui-1.8.2.custom" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.2.custom.min", "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
